body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: antiquewhite;
}
 /* navigation bar design  */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: antiquewhite;
  text-align: center;

}

nav ul li {
  display: inline;
  padding: 20px;
  margin:0px;
  text-align: center;
  color: #553311;
  font-weight: bold;
}
a {
  text-decoration: none;
}
nav ul li a {
  color: #333;
}

nav ul li:hover {
  background-color: burlywood;
  color: #553311;
  cursor: pointer;
}

#home_icon {
  display: inline;
  height: 20px;
}

#header1 {
  text-align: center;
  color: #553311;
  font-size: 40px;
}

/*welcome div and paragraph*/

#welcome_line {
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
}
#div_welcome {
  background-color: #745332;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

#welcome {
  text-align: center;
  font-weight: bold;
  color: beige;
  font-size: 20px;
}
/*types of chocolate list */

  .types_images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 10%;
    margin-top: 2%;
    margin-bottom: none;
}

.chocolate_photo{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chocolate_photo img {
    width: 100%;
    height: auto;
    display: block;
}
/*dark chocolate recipes*/
#dark_chocolate_recipes{
  margin: 10%;
  border-color: #331d08;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  padding: 4%;
  background-color: #331d08;
}
#dark_chocolate_recipes h1{
  color: antiquewhite;
  font-size: 35px;
}
#dark_chocolate_recipes h2{
  color: antiquewhite;
}
#dark_chocolate_recipes ul li{
  color: antiquewhite;
  font-size: 20px;
}
#dark_chocolate_recipes ol li{
  color: antiquewhite;
  font-size: 20px;
}

.white_title{
  text-align: center;
  color: antiquewhite;
  font-size: 35px;
}

/* milk chocolate */
#milk_chocolate_recipes{
  margin: 10%;
  border-color: #745332;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  padding: 4%;
  background-color: #745332;
}
#milk_chocolate_recipes h2{
    color: antiquewhite;
}
#milk_chocolate_recipes ul li{
    color: antiquewhite;
    font-size: 20px;
}
#milk_chocolate_recipes ol li{
    color: antiquewhite;
    font-size: 20px;
}

/*white chocolate*/
#white_chocolate_recipes{
  margin: 10%;
  border-color: #745332;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  padding: 4%;
  background-color: antiquewhite;
}
#white_chocolate_recipes h2{
    color: #745332;
}
#white_chocolate_recipes ul li{
    color: #745332;
    font-size: 20px;
}
#white_chocolate_recipes ol li{
    color: #745332;
    font-size: 20px;
}
.dark_title{
    text-align: center;
    color: #745332;
    font-size: 35px;
}

/* coocoa spread */
#cocoa_spread_recipes{
  margin: 10%;
  border-color: #6e4b28;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  padding: 4%;
  background-color: #6e4b28;
}
#cocoa_spread_recipes h2{
    color: antiquewhite;
}
#cocoa_spread_recipes ul li{
    color: antiquewhite;
    font-size: 20px;
}
#cocoa_spread_recipes ol li{
    color: antiquewhite;
    font-size: 20px;
}

footer {
  background-color: #e6c9a8;
  color: #333;
  text-align: center;
  padding: 10px;
}