body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: antiquewhite;
}
 /* navigation bar design  */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: antiquewhite;
  text-align: center;

}

nav ul li {
  display: inline;
  padding: 20px;
  margin:0px;
  text-align: center;
  color: #553311;
  font-weight: bold;
}
a {
  text-decoration: none;
}
nav ul li a {
  color: #333;
}

nav ul li:hover {
  background-color: burlywood;
  color: #553311;
  cursor: pointer;
}

#home_icon {
  display: inline;
  height: 20px;
}

/* collapsibles*/
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
