body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: antiquewhite;
  text-align: center;
}

nav ul li {
  display: inline;
  padding: 20px;
  color: #553311;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li:hover {
  background-color: burlywood;
  color: #553311;
  cursor: pointer;
}

#home_icon {
  display: inline;
  height: 20px;
}

header {
  text-align: center;
  background-color: #745332;
  padding: 20px;
  color: beige;
}

#main_header {
  font-size: 40px;
  margin: 0;
}

#main_content {
  padding: 20px;
  text-align: center;
}

section {
  margin-bottom: 40px;
}

.image_grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
}

.image_card {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image_card img {
  width: 300px;
  height: auto;
  display: block;
}

footer {
  background-color: #e6c9a8;
  color: #333;
  text-align: center;
  padding: 10px;
}
