

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color:#aa6e45ef;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: antiquewhite;
    text-align: center;
  
  }
  
  nav ul li {
    display: inline;
    padding: 20px;
    margin:0px;
    text-align: center;
    color: #553311;
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }
  nav ul li a {
    color: #333;
  }
  
  nav ul li:hover {
    background-color: burlywood;
    color: #553311;
    cursor: pointer;
  }
#home_icon {
    display: inline;
    height: 20px;
}
  

main {
    padding: 20px;

}

.history, .products, .shop {
    margin-bottom: 30px;
}

footer {
    background-color:  antiquewhite;
    color: #000000;
    text-align: center;
    
    bottom: 0;
    width: 100%;
}
#img-maker {
    width: 900px;
    right: 0;
    align-content: center;
    margin-bottom: 300px;
}
#intro-text {
 font-size: 24px;
 margin-bottom: 50px;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 position: absolute;
 padding: 5px;
 width: 470px;
 background: rgba(245,245,245,0.7);
 
}