body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: antiquewhite;
    text-align: center;
  
  }
  
  nav ul li {
    display: inline;
    padding: 20px;
    margin:0px;
    text-align: center;
    color: #553311;
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }
  nav ul li a {
    color: #333;
  }
  
  nav ul li:hover {
    background-color: burlywood;
    color: #553311;
    cursor: pointer;
  }
  

  
footer {
    background-color: antiquewhite;
    color: #000000;
    text-align: center;
    bottom: 0;
    width: 100%;
}

#img-maker {
    width: 900px;
    right: 0;
    align-content: center;
    margin-bottom: 300px;
}

#intro-text {
    font-size: 24px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    padding: 5px;
    width: 470px;
    background-color: antiquewhite;
    margin: auto;
    color: #553311;
}

.product-list {
    display: flex;
    margin-left: 50px;
}

h2 {
   
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #aa6e45ef;
    padding: 200px;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 230%;
}
h4 {
    font-size: 200%;
    margin-top: 100px;
    margin-left: 30px;
    background-color: antiquewhite;
    text-align: center;
    color: #553311;
}
img {
    width: 350px;
    height: 400px;
}
div {
    margin: 40px;
   
}
#home_icon {
    display: inline;
    height: 20px;
    width: auto;
  }
button {
    padding: 17px;
    text-align: center;
    color: #553311;
    font-weight: bold;
    font-size: 120%;
    background-color: antiquewhite;
    border: none;
}

button:hover {
    background-color: burlywood;
    color: #553311;
    cursor: pointer;
}


